@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="text-center">
        <h1>Climb To New Heights</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3>Climb with Cassidy</h3>
            <p>
                Come explore the outdoors with climbing enthusiast, Cassidy! She has always loved spending time outdoors and has been climbing for over a year now.
                She enjoys outdoor climbing, specifically Rock Canyon in Provo. She has experience leading and top roping climbs difficult climbs. As your rock climbing guide,
                she will teach you how about the gear, safety tips and procedures, and help you learn the technique of rock climbing.
            </p>
        </div>
        <div class="col-lg-6">
            <img src="@Url.Content("~/img/climbing6.jpg")" alt="First picture of Cassidy rock climbing" style="width: 20em;" />
        </div>

    </div><br />
    <div class="row">
        <div class="col-lg-6">
            <img src="@Url.Content("~/img/climbing3.jpg")" alt="Fourth picture of Cassidy rock climbing" style="width: 20em;" />
        </div>
        <div class="col-lg-6">
            <h3>Bring friends along</h3>
            <p>
                One of the best ways to climb is with friends. Cassidy offers a semi-private discount fro those who sign up in a pair of two. She loves exploring new routes and crags
                with friends new and old. Friends push her to be better and accomplish routes she didn't believe she could. Plus, they make for a good climbing buddy in the future,
                to belay and climb with you. Cassidy's go to climbing partner is her husbnd, Connor.
            </p>
        </div>
    </div> <br />
    <div class="d-flex row justify-content-center text-center">
        <h3>Come Adventure With Us!</h3>
        <button class="btn btn-primary" style="max-width: 8em">Book Now</button>
    </div>
</div>
